In [1]:
import pandas as pd

### Read the data in pandas format

In [3]:
df = pd.read_csv('heart.csv')

### Display the first five rows in the dataset

In [5]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

### Display the shape of the dataset

In [6]:
df.shape

(918, 12)

### Print information about the dataframe

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

### Check if there is any null values in the dataset and count them

In [8]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

### Print statistical information about each column in the dataset, including the count, mean, std, min, and max

In [9]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

### Print the correlation table between the columns in the dataset

In [10]:
df.corr()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
Age,1.000000,0.254399,-0.095282,0.198039,-0.382045,0.258612,0.282039
RestingBP,0.254399,1.000000,0.100893,0.070193,-0.112135,0.164803,0.107589
Cholesterol,-0.095282,0.100893,1.000000,-0.260974,0.235792,0.050148,-0.232741
FastingBS,0.198039,0.070193,-0.260974,1.000000,-0.131438,0.052698,0.267291
MaxHR,-0.382045,-0.112135,0.235792,-0.131438,1.000000,-0.160691,-0.400421
Oldpeak,0.258612,0.164803,0.050148,0.052698,-0.160691,1.000000,0.403951
HeartDisease,0.282039,0.107589,-0.232741,0.267291,-0.400421,0.403951,1.000000

### Example 1: Counting Occurrences of Each Chest Pain Type

Explanation: In this example, we're creating a dictionary chest_pain_counts to keep track of how many times each chest pain type appears in the dataset. We iterate through each data point and extract the 'ChestPainType' value. If the chest pain type is already in the dictionary, we increment its count; otherwise, we add it to the dictionary with a count of 1. Finally, we print the dictionary containing the counts of each chest pain type.

In [12]:
df['ChestPainType'].value_counts()

ASY    496
NAP    203
ATA    173
TA      46
Name: ChestPainType, dtype: int64

### Example 2: Creating a Dictionary of Patients with High Cholesterol

Explanation: In this example, we're creating a dictionary high_cholesterol_patients to store information about patients with high cholesterol (cholesterol level greater than 200). We iterate through each data point, convert the 'Cholesterol' value to an integer, and check if it's greater than 200. If it is, we add the entire data point to the dictionary, using the patient's age as the key.

In [16]:
# Create a new DataFrame with patients whose cholesterol is higher than the threshold
cholesterol_threshold = 360
filtered_df = df[df['Cholesterol'] > cholesterol_threshold]
filtered_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
28,53,F,ATA,113,468,0,Normal,127,N,0.0,Up,0
30,53,M,NAP,145,518,0,Normal,130,N,0.0,Flat,1
58,54,M,ASY,150,365,0,ST,134,N,1.0,Up,0
69,44,M,ASY,150,412,0,Normal,170,N,0.0,Up,0
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1

### Example 3: Calculating Average Max Heart Rate for Male and Female Patients

Explanation: In this example, we're calculating the average maximum heart rate for male and female patients. We use two dictionaries, male_max_hr and female_max_hr, to keep track of the sum of max heart rates and the count of patients for each gender. We iterate through the dataset, convert the 'MaxHR' value to an integer, and based on the patient's sex, update the respective dictionary. After processing all data points, we calculate the averages and print them.

In [17]:
# Group the DataFrame by the 'gender' column
grouped = df.groupby('Sex')
# Calculate the average max heart rate for male and female patients
average_max_heart_rate = grouped['MaxHR'].mean()
print(average_max_heart_rate)

Sex
F    146.139896
M    134.325517
Name: MaxHR, dtype: float64

### Example 4: Finding the Patient with the Highest Cholesterol

Explanation: In this example, we find the patient with the highest cholesterol level by iterating through the dataset and comparing each patient's cholesterol level to the highest recorded so far. We update the highest_cholesterol variable and store the entire data point for the patient with the highest cholesterol in patient_with_highest_cholesterol.

In [19]:
# Find the index of the row with the highest cholesterol level
highest_cholesterol_index = df['Cholesterol'].idxmax()

# Get the patient with the highest cholesterol level
patient_with_highest_cholesterol = df.loc[highest_cholesterol_index]

print(patient_with_highest_cholesterol)

Age                   54
Sex                    M
ChestPainType        ASY
RestingBP            130
Cholesterol          603
FastingBS              1
RestingECG        Normal
MaxHR                125
ExerciseAngina         Y
Oldpeak              1.0
ST_Slope            Flat
HeartDisease           1
Name: 149, dtype: object

### Example 5: Grouping Patients by Age Range

Explanation: In this example, we create a dictionary age_groups to group patients into different age ranges. We iterate through the dataset and based on the patient's age, we append the data point to the corresponding age group list within the dictionary.

In [26]:
# Define the age group bins and labels
age_bins = [18, 30, 40, 50, 60, float('inf')]  # 'inf' represents positive infinity
age_labels = ['18-30', '31-40', '41-50', '51-60', '61+']

# Use pd.cut to create the 'age_group' based on the age bins
df['age_group'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels)

In [27]:
grouped_patients = df.groupby('age_group')

In [28]:
# Print the content of each group
for age_grp in grouped_patients.groups:
    print(f"Group: {age_grp}")
    print(grouped_patients.get_group(age_grp))
    print("\n")

Group: 18-30
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
170   29   M           ATA        120          243          0     Normal
208   28   M           ATA        130          132          0        LVH
215   30   F            TA        170          237          0         ST
219   29   M           ATA        140          263          0     Normal
829   29   M           ATA        130          204          0        LVH

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease age_group
170    160              N      0.0       Up             0     18-30
208    185              N      0.0       Up             0     18-30
215    170              N      0.0       Up             0     18-30
219    170              N      0.0       Up             0     18-30
829    202              N      0.0       Up             0     18-30


Group: 31-40
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
2     37   M           ATA        130          283          0         ST
5     39   M           NAP        120          339          0     Normal
8     37   M           ASY        140          207          0     Normal
10    37   F           NAP        130          211          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
846   39   M           ASY        118          219          0     Normal
856   39   M           NAP        140          321          0        LVH
892   39   F           NAP        138          220          0     Normal
898   35   M           ATA        122          192          0     Normal
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease age_group
0      172              N      0.0       Up             0     31-40
2       98              N      0.0       Up             0     31-40
5      170              N      0.0       Up             0     31-40
8      130              Y      1.5     Flat             1     31-40
10     142              N      0.0       Up             0     31-40
..     ...            ...      ...      ...           ...       ...
846    140              N      1.2     Flat             1     31-40
856    182              N      0.0       Up             0     31-40
892    152              N      0.0     Flat             0     31-40
898    174              N      0.0       Up             0     31-40
917    173              N      0.0       Up             0     31-40

[88 rows x 13 columns]


Group: 41-50
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
1     49   F           NAP        160          180          0     Normal
3     48   F           ASY        138          214          0     Normal
6     45   F           ATA        130          237          0     Normal
9     48   F           ATA        120          284          0     Normal
13    49   M           ASY        140          234          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
887   43   M           ASY        132          247          1        LVH
896   47   M           NAP        130          253          0     Normal
907   44   M           ASY        120          169          0     Normal
910   41   M           ATA        120          157          0     Normal
913   45   M            TA        110          264          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease age_group
1      156              N      1.0     Flat             1     41-50
3      108              Y      1.5     Flat             1     41-50
6      170              N      0.0       Up             0     41-50
9      120              N      0.0       Up             0     41-50
13     140              Y      1.0     Flat             1     41-50
..     ...            ...      ...      ...           ...       ...
887    143              Y      0.1     Flat             1     41-50
896    179              N      0.0       Up             0     41-50
907    144              Y      2.8     Down             1     41-50
910    182              N      0.0       Up             0     41-50
913    132              N      1.2     Flat             1     41-50

[223 rows x 13 columns]


Group: 51-60
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
4     54   M           NAP        150          195          0     Normal
7     54   M           ATA        110          208          0     Normal
11    58   M           ATA        136          164          0         ST
15    54   F           ATA        120          273          0     Normal
18    60   M           ASY        100          248          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
906   55   F           ATA        132          342          0     Normal
911   59   M           ASY        164          176          1        LVH
912   57   F           ASY        140          241          0     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease age_group
4      122              N      0.0       Up             0     51-60
7      142              N      0.0       Up             0     51-60
11      99              Y      2.0     Flat             1     51-60
15     150              N      1.5     Flat             0     51-60
18     125              N      1.0     Flat             1     51-60
..     ...            ...      ...      ...           ...       ...
906    166              N      1.2       Up             0     51-60
911     90              N      1.0     Flat             1     51-60
912    123              Y      0.2     Flat             1     51-60
915    115              Y      1.2     Flat             1     51-60
916    174              N      0.0     Flat             1     51-60

[381 rows x 13 columns]


Group: 61+
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
36    65   M           ASY        140          306          1     Normal
82    63   M           ASY        150          223          0     Normal
85    66   M           ASY        140          139          0     Normal
86    65   M           ASY        170          263          1     Normal
100   65   M           ASY        130          275          0         ST
..   ...  ..           ...        ...          ...        ...        ...
899   61   M           ASY        148          203          0     Normal
905   67   M           NAP        152          212          0        LVH
908   63   M           ASY        140          187          0        LVH
909   63   F           ASY        124          197          0     Normal
914   68   M           ASY        144          193          1     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease age_group
36      87              Y      1.5     Flat             1       61+
82     115              N      0.0     Flat             1       61+
85      94              Y      1.0     Flat             1       61+
86     112              Y      2.0     Flat             1       61+
100    115              Y      1.0     Flat             1       61+
..     ...            ...      ...      ...           ...       ...
899    161              N      0.0       Up             1       61+
905    150              N      0.8     Flat             1       61+
908    144              Y      4.0       Up             1       61+
909    136              Y      0.0     Flat             1       61+
914    141              N      3.4     Flat             1       61+

[221 rows x 13 columns]

### Example 5: Calculating the Percentage of Patients with Heart Disease

Explanation: In this example, we calculate the percentage of patients in the dataset who have heart disease. We iterate through the dataset and increment the heart_disease_patients variable whenever we encounter a patient with heart disease ('HeartDisease' equal to '1'). Finally, we calculate the percentage and print it.

In [31]:
df[df['HeartDisease']==1].value_counts()

Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  RestingECG  MaxHR  ExerciseAngina  Oldpeak  ST_Slope  HeartDisease  age_group
31   M    ASY            120        270          0          Normal      153    Y               1.5      Flat      1             31-40        1
60   M    ASY            132        218          0          ST          140    Y               1.5      Down      1             51-60        1
61   F    ASY            130        330          0          LVH         169    N               0.0      Up        1             61+          1
60   M    NAP            141        316          1          ST          122    Y               1.7      Flat      1             51-60        1
                         140        185          0          LVH         155    N               3.0      Flat      1             51-60        1
                                                                                                                                            ..
53   M    ASY            126        0            0          Normal      106    N               0.0      Flat      1             51-60        1
                         125        0            1          Normal      120    N               1.5      Up        1             51-60        1
                         124        243          0          Normal      122    Y               2.0      Flat      1             51-60        1
                         123        282          0          Normal      95     Y               2.0      Flat      1             51-60        1
77   M    ASY            125        304          0          LVH         162    Y               0.0      Up        1             61+          1
Length: 508, dtype: int64